@font-face {
    font-family: Drugsther;
    src: url(fonts/drugsther/Drugsther.otf)format("opentype");
}
@font-face {
    font-family: digital;
    src: url(fonts/digital/DS-DIGIT.TTF);
}
body{
    background-color: #163172;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100vw;
    height: 100vh;

}

span {
    font-family: 'Drugsther';
    color:#f5f4f3;
    font-size: 50px;
}
.container{
    width: 600px;
    height: 400px;
    background-color:#FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 10px;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}
.display{
    font-family: 'digital';
    width: 450px;
    background: #047ac9; 
    border-radius: 5px;
    user-select: none;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    
    
}
ul{
    padding: 0;
    margin: 0;
    
}
li{
    list-style: none;
    display: inline-block;
    color:#FFFFFF;
    font-size: 100px;
    
    
    
    
}
.seconds,.minutes,.hours{
    width: 100px;
    

}
.hours{
    margin-left: 10px;
}
.count{
    font-size: 50px;
    margin-left: 10px;
    width: 60px;
    
    
}
button{
    width: 80px;
    height: 40px;
    border-radius: 7px;
    border: none;
    margin: 10px;
    font-weight: 600;
    text-align: center;
    background: #FFFFFF;  
    color: #047ac9;
    cursor: pointer;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
